@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Josefin Sans;
  background-color: #000;
  color: #fff;
  max-width: 100vw;
  overflow-x: hidden;
}
body header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100vw;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #000;
  box-shadow: 0px 30px 30px #000;
}
body header a.logo {
  display: flex;
  align-items: center;
  max-height: 35px;
  text-decoration: none;
  padding-left: 5vw;
}
body header a.logo p {
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}
body header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  padding-right: 5vw;
}
body header ul li {
  list-style: none;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
body header ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  padding: 6px 15px;
}
body header ul li a.active {
  background: #fff;
  color: black;
}
body header ul li a:hover {
  background: #fff;
  color: black;
}
body header ul li ul.UlContact {
  display: none;
}
body header ul li ul.UlContact li {
  border-bottom: none;
  height: 25px;
}
body header ul li ul.UlContact li img {
  height: 25px;
}
body header ul li:hover ul.UlContact {
  display: inline-block;
  position: absolute;
  text-align: center;
  transform: translateY(20%) translateX(-25%);
  background-color: #000;
  opacity: 0.8;
  border-radius: 5px;
  z-index: 1000;
}
body header ul li:hover ul.UlContact a {
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  padding: 6px 15px;
}
body header ul li:hover ul.UlContact a:hover {
  background: #fff;
  color: #000;
}
body div#container {
  height: 100vh;
  scroll-snap-type: y mandatory;
}
body div#container section {
  scroll-snap-align: center;
  height: 100vh;
}
body div#container section.hero {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  overflow: hidden;
}
body div#container section.hero .infos .text {
  display: flex;
  flex-direction: column;
}
body div#container section.hero .infos .text h1 {
  font-size: 45px;
}
body div#container section.hero .infos .text h2 {
  font-size: 35px;
}
body div#container section.hero .infos .text h3 {
  font-size: 25px;
}
body div#container section.hero .infos .text h3 span.metier {
  color: blue;
}
body div#container section.hero .infos .medias a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: 0.2rem solid blue;
  border-radius: 50%;
  margin: 0 0.5rem;
}
body div#container section.hero .image img {
  height: 60vh;
  border-radius: 50%;
  border: 5px solid blue;
}
body div#container section.contact, body div#container section.graphiste {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
body div#container section.contact .infos .text, body div#container section.graphiste .infos .text {
  display: flex;
  flex-direction: column;
}
body div#container section.contact .infos .text h1, body div#container section.graphiste .infos .text h1 {
  font-size: 45px;
}
body div#container section.contact .infos .text h2, body div#container section.graphiste .infos .text h2 {
  font-size: 35px;
}
body div#container section.contact .infos .text h3, body div#container section.graphiste .infos .text h3 {
  font-size: 25px;
}
body div#container section.contact .infos .text h3 span.metier, body div#container section.graphiste .infos .text h3 span.metier {
  color: blue;
}
body div#container section.contact .image img, body div#container section.graphiste .image img {
  height: 60vh;
}/*# sourceMappingURL=index.css.map */