@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Josefin Sans;
  background-color: #000;
  color: #fff;
  max-width: 100vw;
  overflow-x: hidden;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100vw;
  z-index: 1000;
  background-color: #000;
  box-shadow: 0px 30px 30px #000;
}
body header a.logo {
  display: flex;
  align-items: center;
  max-height: 35px;
  text-decoration: none;
  padding-left: 5vw;
}
body header a.logo p {
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}
body header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  padding-right: 5vw;
}
body header ul li {
  list-style: none;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
body header ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  padding: 6px 15px;
}
body header ul li a.active {
  background: #fff;
  color: black;
}
body header ul li a:hover {
  background: #fff;
  color: black;
}
body header ul li ul.UlContact {
  display: none;
}
body header ul li ul.UlContact li {
  border-bottom: none;
  height: 25px;
}
body header ul li ul.UlContact li img {
  height: 25px;
}
body header ul li:hover ul.UlContact {
  display: inline-block;
  position: absolute;
  text-align: center;
  transform: translateY(20%) translateX(-25%);
  background-color: #000;
  opacity: 0.8;
  border-radius: 5px;
  z-index: 1000;
}
body header ul li:hover ul.UlContact a {
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  padding: 6px 15px;
}
body header ul li:hover ul.UlContact a:hover {
  background: #fff;
  color: #000;
}
body section.videomaker {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
  margin: 0 5vw;
  margin-top: 10vh;
}
body section.videomaker .text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10vh;
  height: 100%;
}
body section.videomaker .text h2 {
  font-size: 45px;
}
body section.videomaker .text h2 .metier {
  color: blue;
}
body section.videomaker .videos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body section.videomaker .videos iframe {
  height: 60vh;
}
body section.designer {
  display: flex;
  flex-direction: column;
}
body section.designer .text {
  margin-left: 10vw;
}
body section.designer .text h2 {
  font-size: 45px;
}
body section.designer .text h2 .metier {
  color: blue;
}
body section.designer .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 90vw;
  height: 60vh;
  margin: 0 5vw;
}
body section.designer .card .item#little {
  background-size: 160%;
}
body section.designer .card .item#little:hover {
  background-size: 100%;
}
body section.designer .card .item {
  width: 33%;
  height: 100%;
  background-position: top;
  background-size: 150%;
  border-radius: 0.5rem;
  transition: all 300ms ease;
  background-repeat: no-repeat;
}
body section.designer .card .item a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  background: linear-gradient(transparent, #000);
  background-position: bottom;
  background-size: 20px;
}
body section.designer .card .item a p {
  border-radius: 0.5rem;
  height: 15vh;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
body section.designer .card .item:hover {
  width: 70%;
  background-size: 100%;
}/*# sourceMappingURL=work.css.map */